.board {
  text-align: center;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.board .instructions {
  margin: 20px;
}

.board .game {
  margin: 0 auto;
}

.board .tableBody {
  border-spacing: 1px;
  margin: 0 auto;
}

.board td {
  width: 50px;
}

.board td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

.board .game .colourPicker {
  margin: 0 auto;
  display: inline-block;
}

.board .singleColour {
  width: 100px;
  margin: 10px;
  border-radius: 10px;
}

.board .singleColour:after {
  content: '';
  display: block;
  margin-top: 100;
}

.colour1 {
  background-color: #76a3f5;
}

.colour2 {
  background-color: #daa885;
}

.colour3 {
  background-color: #5cbd87;
}

.colour4 {
  background-color: #fff294;
}

.colour5 {
  background-color: #b884f9;
}

.colour6 {
  background-color: #fecfff;
}

.board button {
	background-color: #76a3f5;
	border-radius: 8px;
	color: #ffffff;
	padding: 15px 30px;
  font-size: 20px;
  margin: 20px;
}

.board button:hover {
	background-color: #4373aa;
}
